In [2]:
import numpy as np
import pandas as pd
import csv
from numpy import nan as NA

f =  open('./train.txt','r',encoding = 'utf-8')
list_data = f.readlines()
columns = list_data [0].split()
list = []
for i in list_data [1:]:
    list.append(i.split())
with open("train.csv","w") as csvfile:
    writer = csv.writer(csvfile)
    #先写入columns_name
    writer.writerow(columns)
    #写入多行用writerows
    writer.writerows(list)

In [11]:
df = pd.read_csv("./train.csv", header = None , nrows = 1000 , names=['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33']  )
df = df.fillna(1)
for i in range(0,1000):
    for j in range(0,33):
        if(df.iloc[i,j] > 1000):
            df.iloc[i,j] = 1.0
df = df.astype('int64')
df = df.replace(1,NA)

,1,2,3,4,5,6,7,8,9,10,...,24,25,26,27,28,29,30,31,32,33
0,0.0,0.0,NaN,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0,30.0,31.0
1,NaN,32.0,33.0,34.0,35.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,36.0,37.0,38.0,39.0,40.0,41.0,42.0,43.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,52.0,53.0,54.0,55.0,56.0,57.0,58.0,59.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,67.0,68.0,69.0,70.0,71.0,72.0,73.0,74.0,75.0,...,89.0,90.0,91.0,92.0,93.0,94.0,95.0,96.0,97.0,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,996.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,997.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,998.0,223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
df.to_csv('./KGAT/amazonbook/train.txt', sep='\t', index=False,header = None)